@media (min-width: 992px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="153c5034-f750-37a1-aced-a2ba494a9280"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="164137c8-f15f-533c-5a8b-d43f124472b2"] {
        height: 0%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a42a297-03a5-aac3-a20f-b763ed620ca5"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b31b819f-9542-8651-4327-c1b4cfa5f61d"] {
        height: 0%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="e635a7af-2c1a-970a-617e-355f3106abea"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d9d5140f-0658-1385-df80-057692e11250"] {
        display: none;
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8bda3880-bde6-8b8d-8448-84bda71a7749"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="c0734daa-1d10-3f73-ccf5-bebe18f1ba96"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="c1b3243e-92b3-a2c9-4275-53f2662a2d0c"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="2618ad9a-39b2-c10b-2334-eb0fb6d4ccf0"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="465a3d13-3783-e283-361b-97c7699bec95"] {
        opacity: 0;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="153c5034-f750-37a1-aced-a2ba494a9280"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="164137c8-f15f-533c-5a8b-d43f124472b2"] {
        height: 0%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a42a297-03a5-aac3-a20f-b763ed620ca5"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b31b819f-9542-8651-4327-c1b4cfa5f61d"] {
        height: 0%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="e635a7af-2c1a-970a-617e-355f3106abea"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d9d5140f-0658-1385-df80-057692e11250"] {
        display: none;
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8bda3880-bde6-8b8d-8448-84bda71a7749"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="c0734daa-1d10-3f73-ccf5-bebe18f1ba96"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="c1b3243e-92b3-a2c9-4275-53f2662a2d0c"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="2618ad9a-39b2-c10b-2334-eb0fb6d4ccf0"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="465a3d13-3783-e283-361b-97c7699bec95"] {
        opacity: 0;
    }
}